<footer id="footer" class="site-footer">
  <div class="inner">
<img src="/assets/img/written-by-human-badge.svg">
<br><br>
    <div class="copyright">
      {% if site.copyright %}
        {{ site.copyright | markdownify }}
      {% else %}
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}.</p>
      {% endif %}
<h4>Subscribe to get new posts in your inbox!</h4>
<iframe
scrolling="no"
style="width:100%!important;height:220px;border:1px #ccc solid !important"
src="https://buttondown.email/jakelacaze?as_embed=true"
></iframe><br /><br /> 
    </div>
  </div>
</footer>